@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

/* body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
} */

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
